.homescreen {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  // max-width: 1700px;

  margin: 0 auto;
  // padding: 0 20px;

  .homescreen__title {
    font-size: 2rem;
    font-weight: 300;
    color: #171717;
    margin: 1.5rem 0 0.2rem 0;
    text-align: center;
  }

  .greenLine {
    height: 3px;
    width: 80px;
    display: block;
    background: #004c40;
    margin: 0 auto;
  }

  .homescreen__products {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    padding: 1rem 1.2rem;
    margin: 0 auto;
  }
}
