.navbar {
  min-height: 10vh;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 50;

  .navbar__logo h2 {
    font-family: cursive;
    font-size: 2.5rem;
    color: #004c40;
    margin-left: 0.7rem;
    cursor: pointer;
  }
  .cart-link-container {
    position: relative;
    margin-right: 0.7rem;

    .navbar__links {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;

      .cart-icon {
        font-size: 1.5rem;
      }
      .cart-icon:hover {
        color: #5f8e3d;

        .cartlogo__badge {
          color: black;
          background: #d5e5b5;
        }
      }

      .cartlogo__badge {
        display: block;
        position: absolute;
        background: #5f8e3d;
        top: 0;
        right: -15px;
        padding: 0rem 0.4rem;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        z-index: 100;
        transition: 0.4s ease;
      }
    }
  }

  .navbar__links > li {
    padding-left: 1.5rem;

    a {
      text-decoration: none;
      color: #222;
      font-size: 1.2rem;
      display: flex;
    }
  }
}

//! Burger menu
.hamburger__menu {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  margin-right: 0.7rem;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background: #222;
}

.hamburger__menu:hover > div {
  transition: 0.4s ease;
  background: black;
}

@media (max-width: 960px) {
  .cart-link-container {
    display: none;
  }
  .hamburger__menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    // font-size: 1rem;
  }
}

.hover {
  color: #fff !important;
  background: "#D5E5B5" !important;
  padding: "10px 14px";
  border-radius: "15px";
  color: "#fff";
}
