.sidedrawer {
  width: 65%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidedrawer.show {
  transform: translateX(0%);
}

.cart-link-containerr {
  position: relative;
  margin-right: 0.7rem;

  .navbar__linkss {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;

    li {
      margin-bottom: 1rem;
    }

    .shopp:hover {
      color: black;
    }

    .cart-iconn {
      font-size: 1.5rem;
    }
    .cart-iconn:hover {
      color: #000;

      .cartlogo__badge {
        color: black;
        background: white;
      }
    }

    .cartlogo__badgee {
      display: block;
      position: absolute;
      background: #d5e5b5;
      top: -10px;
      right: 15px;
      padding: 0rem 0.4rem;
      border-radius: 50%;
      font-size: 1rem;
      color: #000;
      z-index: 100;
      transition: 0.4s ease;
    }
  }
}

a {
  text-decoration: none;
  color: #004c40;
  font-size: 1.5rem;
  font-weight: 100;
}

a:hover {
  //   border-bottom: 2px solid red;
}

@media (min-width: 960px) {
  .sidedrawer {
    display: none;
  }
}
