.body-newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #d5e5b5;
  min-height: 35vh;
  overflow: visible !important;
  z-index: 500;
}

.container-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    max-width: 450px;
    margin: 20px auto;
    font-size: 1rem;
    font-weight: 200;
  }

  .email-box {
    height: 40px;
    display: flex;
    justify-content: center;
  }

  .email-box .envelope {
    background: #004c40;
    width: 40px;
    line-height: 40px !important;
    color: white;
    font-size: 1.3rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .envelopy {
    padding-top: 3px;
  }

  .tbox,
  .btnn {
    border: none;
    outline: none;
  }

  .btnn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .tbox {
    width: 260px;
    padding: 0 10px;
  }

  .btnn {
    background: #004c40;
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.banner {
  background: url("../../Assets/news.jpg") no-repeat center;
  background-size: cover;
  padding: 100px 40px;
  text-align: center;
}

@media (max-width: 930px) {
  .body-newsletter {
    grid-template-columns: 1fr;
  }

  .banner {
    display: none;
  }
}

@media (max-width: 455px) {
  .email-box {
    height: 30px;
  }

  p {
    margin: 20px 15px !important;
  }

  .container-newsletter .tbox {
    width: 230px !important;
    padding: 0 5px;
  }

  .container-newsletter h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .email-box {
    height: 30px;
  }

  p {
    margin: 20px !important;
  }

  .container-newsletter .tbox {
    width: 178px !important;
    padding: 0 5px;
  }
}
