.cartscreen {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;

  .cartscreen h2 {
    margin-bottom: 1rem;
  }

  .cartscreen__left {
    flex: 0.7;
    margin-right: 0.5rem;
    background-color: transparent;
    padding: 1rem;
  }

  .cartscreen__right {
    border-radius: 10px;
    flex: 0.3;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
    margin-right: 1rem;
  }

  .cartscreen__right div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  .cartscreen__right div:last-child {
    border: none;
  }

  .cartscreen__info {
    padding: 8px;

    p {
      margin: 1rem 0;
    }
  }

  .title-cart {
    font-size: 2rem;
    font-weight: 300;
    color: #171717;
    margin: 1.5rem 0 0.2rem 0;
    text-align: center;
  }

  .greenLine {
    height: 3px;
    width: 80px;
    display: block;
    background: #004c40;
    margin: 0.8rem auto 1.5rem auto;
  }

  .proceed {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200;
    font-size: 1rem;
    display: block;
    padding: 12px 17px;
    width: 100%;
    background: #004c40;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    cursor: not-allowed;
  }

  .cartscreen__right div button:hover {
    transform: translateY(-1px);
  }
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 815px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__left {
    margin: 0 !important;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}

.total-price,
.total-amount {
  font-size: 1.1rem !important;
  font-weight: 100;
  letter-spacing: 1px;
}
